* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: -apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Ubuntu,sans-serif;
    width: 100%;
    height: 100vh;  
  }

  .data {
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
    justify-content: center;
    align-items: center;
    gap: 35px;
    max-width: 100%;
    max-height: 100%;
  }
  /* Small */
  
  @media only screen and (max-width: 768px) {
    body .container {
      flex-basis: 95%;
    }
  }
  /* Medium */
  @media only screen and (min-width: 992px) {
    body .container {
      flex-basis: 970px;
    }
  }
  /* Large */
  @media only screen and (min-width: 1200px) {
    body .container {
      flex-basis: 1170px;
    }
  }

  .container {
    padding: 0 15px;
    margin:0 auto;
    max-height: 80vh;
  }

/* Finishing the rests */
/* styling the form */

form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    width: 100%;
}
.btn {
    appearance: button;
    margin-top: 8px;
    flex-shrink: 1;
    text-decoration: none;
    backface-visibility: hidden;
    background-color: #415a77;
    font-weight: bold;
    border-radius: 6px;
    border-width: 0;
    box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset,rgba(50, 50, 93, .1) 0 2px 5px 0,rgba(0, 0, 0, .07) 0 1px 1px 0;
    color: #fff;
    cursor: pointer;
    font-size: 100%;
    height: 34px;
    outline: none;
    overflow: hidden;
    padding: 5px 20px;
    transition: all .2s,box-shadow .08s ease-in;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    text-align: center;

}
.btn:focus {
    box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset,
     rgba(50, 50, 93, .2) 0 6px 15px 0,
     rgba(0, 0, 0, .1) 0 2px 2px 0, 
     rgba(50, 151, 211, .3) 0 0 0 4px;
}
.btn:hover{
    transform: scale(1.005);
}
td .del-btn:hover {
    background-color: #96031a;
}
.search .add-btn:hover {
    background-color: #065143;
}
form input {
    padding: .4rem;
    outline: none;
    margin-right: 0.259rem;
    border:1px solid #595a4abb;
    text-align: center;
    border-radius: 0.2597rem;
    flex-basis: 40%;
}
@media only screen and (max-width:768px) {
    form input {
        flex: 1 0 75%;
    }
}
/* End of styling the form */

/* the table  */
.results{
    overflow-y: scroll;
    flex-basis:500px;

}
.container table {
    border: solid 1.5px #333;
    border-collapse: collapse;
    border-radius: 1.2rem;
    width: 100%;
    flex-basis: 100%;
}
table thead{
    background-color: #415a77;
    color: aliceblue;
    position: sticky;
    top:0px;
}
table th ,table td{
    padding: 0.925rem 1.925rem;
    
}
th {
    cursor: pointer;
}
table tr:nth-child(odd) {
    background-color: #778da931;
}

td .btn {
    padding: 5px 10px;
}



@media only screen and (max-width: 620px) {
    body table th,body table td  {
      padding: 0.578rem 0.94567rem;
    }
    body .results{
        flex-basis: 350px;
    }
  }

  @media only screen and (max-width: 510px) {
    body table th,body table td  {
      padding: 0.378rem 0.34567rem;
    }
  }
  @media only screen and (max-width: 370px) {
    body table th,body table td  {
      padding: 0.478rem 0.24567rem;
    }
  }